.header {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 1em 5em;
}

.logo img {
  width: 100%;
  height: auto;
}

@media (max-width: 1050px) {
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em 0;
  }
}

@media (max-width: 1050px) {
  .logo img {
    width: 75%;
  }
}

@media (max-width: 1050px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/* NAV START */

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 1em;
  margin-left: 4em;
  text-align: center;
}

.navigation li {
  display: inline-block;
  margin: 1em;
  color: #000;
}

#nav,
.a {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1050px) {
  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 880px) {
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/*main*/
.main {
  display: flex;
  background-color: #495e57;
  width: 100%;
  height: 420px;
  margin-top: 2em;
}