/* BOOKING FORM */
.App {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
}

fieldset {
  display: flex;
  width: 480px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  align-items: center;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  align-items: center;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
  align-items: center;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FieldError {
  position: absolute;
  bottom: -6px;
  color: red;
  font-size: 12px;
  align-items: center;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  padding: 12px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  align-items: center;
}


/* HEADER AND LITTLE LEMON LOGO */
.header {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 1em 5em;
}

.logo img {
  width: 100%;
  height: auto;
}

<<<<<<< HEAD
.container {
  margin: 1rem;
}

.router {
  margin: 1rem;
=======
.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 1em;
  margin-left: 4em;
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
  text-align: center;
}


/* NAVIGATION */

.navigation {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-top: 2em;
  margin-left: 4em;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation li {
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  color: #000;
  gap: 1rem;
}

#navigation,
.a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: inherit;
  display: flex;
  color: 000;
  gap: 1rem;
}

<<<<<<< HEAD
.nav li:hover {
  text-decoration: none;
  background-color: 000;
}

.nav li.active {
  text-decoration: none;
  background-color: 000;
}

/* MAIN */
=======

>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482

.main {
  display: flex;
  background-color: #495e57;
  width: 100%;
  height: 420px;
  padding-left:50px;
}

.main_body {
  width: 40%;
  margin-right: 5em;
}

.main_body p {
  font-family: "Karla", sans-serif;
  font-size: 22px;
  color: #fff;
  width: 350px;
  margin-right: 5em;
}

.featured img {
  width: 290px;
  height: 300px;
  border-radius: 15px;
  margin-top: 2em;
<<<<<<< HEAD
  margin-left: 15em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

/* TESTIMONIALS */

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #495e57;
  text-align: center;
  padding-top: 1em;
}

.testimonial_body {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  color: #f4ce14;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.review {
  width: 250px;
  height: 300px;
  background-color: #fff;
  margin: 2em;
  border-radius: 20%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.review p {
  font-family: "Karla", sans-serif;
}


#profile {
  width: 60%;
  border-radius: 10%;
  margin: 0.1rem;
  box-shadow: 5px 5px 15px;
}

#rating {
  width: 50%;
  display: inline-flex;
  margin: 1rem auto;
}

.review h2 {
  font-family: "Markazi Text", serif;
  margin: 0.1rem;
  font-size: 20px;
  color: #000;
  text-align: center;
}


/* SPECIALS */

.specials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #495e57;
  text-align: center;
}

.special_body {
  font-family: "Markazi Text", serif;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  color: #f2efef;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  margin: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.card p {
  font-family: "Karla", sans-serif;
}


#menuimg {
  width: 60%;
  border-radius: 10%;
  margin: 4rem;
  box-shadow: 5px 5px 15px;
}

.card h2 {
  font-family: "Markazi Text", serif;
  margin: 0.1rem;
  font-size: 20px;
  color: #000;
  text-align: center;
}


/* ABOUT */

.about {
  display: flex;
  width: 100%;
  height: auto;
  padding: 3em 0;
  background-color: #495e57;
}


.about-content {
=======
}


.main_body {
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
}



<<<<<<< HEAD
.about-content p {
  font-family: "Karla", sans-serif;
  font-size: 19px;
  line-height: 1.7em;
  color: #f2efef;
  margin-top: -1em;
=======
.main_body p {
  font-family: "Karla", sans-serif;
  font-size: 22px;
  color: #fff;
  width: 350px;
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
}



<<<<<<< HEAD
.owners {
  width: 500px;
}



#restaurantChefs {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin-top: 2em;
  margin-left: 16em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#restaurant {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  margin-top: -10em;
  margin-left: 5em;
=======
.foodlogo img {
  width: 60%;
  height: 500px;
  border-radius: 15px;
  margin-top: 2em;
  margin-left: 6em;
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}


<<<<<<< HEAD
/* TEXT */
=======

.foodlogo {
  width: 40%;
}

>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482

h1 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  color: #f4ce14;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 30px;
  color: #fff;
  margin-top: -1.5em;
}

h3 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  color: #000;
  margin: 1em;
  margin-right: 5em;
}


h4 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

h5 {
  font-family: "Markazi Text", serif;
<<<<<<< HEAD
  font-size: 20px;
  color: #f2efef;
  margin-top: -4em;
=======
  font-size: 30px;
  color: #000;
  margin-top: -2.5em;
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
}

#button {
  background-color: #f4ce14;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 12em;
  height: 3em;
  margin: 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#button:hover {
  cursor: pointer;
}
<<<<<<< HEAD


=======
.specials #button {
  margin-top: 4em;
}


.specials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 6em;
}

.specials_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.card-img-top {
  width: 95%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin-bottom: -0.2em;
  box-shadow: 5px 10px 20px #ccc;
  margin-top: 8em;
}

.card {
  margin-top: -4em;
  margin-left: 1em;
  margin-right: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3em;
  margin-top: 1em;
}

.card-body {
  font-family: "Karla", sans-serif;
  background-color: #f2efef;
  margin-right: 1em;
  padding: 1em;
  line-height: 1.8em;
  height: 250px;
  box-shadow: 5px 10px 20px #ccc;
}


.card-title {
  font-family: "Markazi Text", serif;
  font-size: 35px;
  font-weight: 600;
}

>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
.btn.btn-primary {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 18px;
  border: none;
}

.title {
  width: 30%;
  height: auto;
  margin-right: 8em;
}

.title-button {
  width: 50%;
  height: auto;
  margin-top: 10.5em;
  margin-left: 15em;
}


<<<<<<< HEAD


/* FOOTER */
=======
.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #495e57;
  text-align: center;
  padding-top: 1em;
}

.testimonial_body {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  color: #f4ce14;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.review {
  width: 250px;
  height: 250px;
  background-color: #fff;
  margin: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.review p {
  font-family: "Karla", sans-serif;
}


#profile {
  width: 30%;
  border-radius: 50%;
  margin: 1em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#rating {
  width: 50%;
  display: block;
  margin: 10px auto;
}

.review h2 {
  font-family: "Markazi Text", serif;
  font-size: 25px;
  color: #000;
  text-align: center;
  margin: 0.1em;
}

.about {
  display: flex;
  width: 100%;
  height: auto;
  padding: 3em 0;
}


.about-content {
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
}



.about-content p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #000;
  margin-top: -1em;
}


.owners {
  width: 50%;
}



#chefs {
  width: 50%;
  height: 60%;
  margin-top: 1em;
  margin-left: 10em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#restaurant {
  width: 40%;
  height: 60%;
  margin-top: -10em;
  margin-left: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
<<<<<<< HEAD
  background-color: #495e57;
  color: #f2efef;
}

.footer li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
=======
  border-top: 10px groove #495e57;
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
}


.footer img {
<<<<<<< HEAD
  width: 50%;
  height: 200px;
  margin-top: 2em;
  margin-left: 6em;
}


.footer-logo {
=======
  width: 100%;
}


.one {
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
  width: 20%;
  margin-right: 2em;
  display: flex;
}

<<<<<<< HEAD

.address {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  width: 20%;
  margin: 5em;
  margin-top: 10em;
}

.social {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  width: 20%;
  margin: 5em;
  margin-top: 10em;
  color: #f2efef;
}
=======
.two {
  width: 20%;
  margin: 1em;
  margin-top: 7em;
}
.three {
  width: 20%;
  margin: 1em;
  margin-top: 7em;
}
.four {
  width: 20%;
  margin: 1em;
  margin-top: 7em;
}
>>>>>>> 8f901badcd18d28308b733e153db9b23dcec8482
