/* HEADER AND LITTLE LEMON LOGO */
.header {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 1em 5em;
}

.logo img {
  width: 100%;
  height: auto;
}

.container {
  margin: 1rem;
}


/* NAVIGATION */

.navigation {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-top: 2em;
  margin-left: 4em;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation li {
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  color: #000;
  gap: 1rem;
}

#navigation,
.a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: inherit;
  display: flex;
  color: 000;
  gap: 1rem;
}

.nav li:hover {
  text-decoration: none;
  background-color: 000;
}

.nav li.active {
  text-decoration: none;
  background-color: 000;
}

/* MAIN */

.main {
  display: flex;
  background-color: #495e57;
  width: 100%;
  height: 420px;
  padding-left:50px;
}

.main_body {
  width: 40%;
  margin-right: 5em;
}

.main_body p {
  font-family: "Karla", sans-serif;
  font-size: 22px;
  color: #fff;
  width: 350px;
  margin-right: 5em;
}

.featured img {
  width: 290px;
  height: 300px;
  border-radius: 15px;
  margin-top: 2em;
  margin-left: 15em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

/* TESTIMONIALS */

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #495e57;
  text-align: center;
  padding-top: 1em;
}

.testimonial_body {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  color: #f4ce14;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.review {
  width: 250px;
  height: 250px;
  background-color: #fff;
  margin: 2em;
  border-radius: 20%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.review p {
  font-family: "Karla", sans-serif;
}


#profile {
  width: 60%;
  border-radius: 10%;
  margin: 0.1rem;
  box-shadow: 5px 5px 15px;
}

#rating {
  width: 50%;
  display: inline-flex;
  margin: 1rem auto;
}

.review h2 {
  font-family: "Markazi Text", serif;
  margin: 0.1rem;
  font-size: 20px;
  color: #000;
  text-align: center;
}


/* SPECIALS */

.specials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #495e57;
  text-align: center;
}

.special_body {
  font-family: "Markazi Text", serif;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  color: #f2efef;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  margin: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.card p {
  font-family: "Karla", sans-serif;
}


#menuimg {
  width: 60%;
  border-radius: 10%;
  margin: 4rem;
  box-shadow: 5px 5px 15px;
}

.card h2 {
  font-family: "Markazi Text", serif;
  margin: 0.1rem;
  font-size: 20px;
  color: #000;
  text-align: center;
}


/* ABOUT */

.about {
  display: flex;
  width: 100%;
  height: auto;
  padding: 3em 3em 3em 3em;
  background-color: #495e57;
}


.about-content {
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
}



.about-content p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #000;
  margin-top: -1em;
}



.owners {
  width: 50%;
}



#chefs {
  width: 50%;
  height: 60%;
  margin-top: 1em;
  margin-left: 10em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#restaurant {
  width: 40%;
  height: 60%;
  margin-top: -10em;
  margin-left: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}


h1 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  color: #f4ce14;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 30px;
  color: #fff;
  margin-top: -1.5em;
}

h3 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  color: #000;
  margin: 1em;
  margin-right: 5em;
}


h4 {
  font-family: "Markazi Text", serif;
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

h5 {
  font-family: "Markazi Text", serif;
  font-size: 20px;
  color: #f2efef;
  margin-top: -4em;
}

#button {
  background-color: #f4ce14;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 12em;
  height: 3em;
  margin: 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#button:hover {
  cursor: pointer;
}


.btn.btn-primary {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 18px;
  border: none;
}

.title {
  width: 30%;
  height: auto;
  margin-right: 8em;
}

.title-button {
  width: 50%;
  height: auto;
  margin-top: 10.5em;
  margin-left: 15em;
}




/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #495e57;
  color: #f2efef;
}

.footer li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}


.footer img {
  width: 50%;
  height: 200px;
  margin-top: 2em;
  margin-left: 6em;
}


.footer-logo {
  width: 20%;
  margin-right: 2em;
  display: flex;
}


.address {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  width: 20%;
  margin: 5em;
  margin-top: 10em;
}

.social {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  width: 20%;
  margin: 5em;
  margin-top: 10em;
  color: #f2efef;
}